
.edit-product-card{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    z-index: 99;
}

